@model ProductDto

@{
    Layout = "_Layout";
    ViewData["Title"] = "Ürün Detayı";
    
}
<div class="ia_product_detail">
    <div class="pdetail_img">
        <img src="~/image/@Model.ImageUrl" />
    </div>
    <div class="pdetail">
        <span class="ia_title">@Model.ProductName</span>
        <p class="ia_title_large">@Model.Price ₺</p>
        <div class="ia_cart">
            <a href="#" onclick="addproductid(@Model.Id)" class="ia_button_fullsize">Sepete Ekle</a>
        </div>
        <p>Ürün detayları</p>
        @Html.Raw(Model.Description)
    </div>
</div>
<span class="ia_title_product_detail">Diğer ürünler</span>

@await Component.InvokeAsync("ProdutListVC")
@* <div class="ia_product_detail">
<form asp-controller="Home" asp-action="AddComment" method="post">
    <div class="ia_comment">
        <input hidden name="id" value="@Model.Id" />
        <input class="ia_input_comment" name="name" placeholder="Kullanıcı Adı" />
        <textarea class="ia_textarea" name="text" placeholder="Yorumunuz"></textarea>
            <button type="submit" class="ia_button_comment"><img height="26px" src="~/image/send.svg" /></button>
            
    </div>
</form>
</div> *@
@section Scripts {
    <script>
        function addproductid(value) {
            var id = value;
            $.ajax({
                type: 'POST',
                data: { item: id },
                url: "/Home/AddToCart/" + id,
                contentType: 'json',
                success: function () {
                    swal("Sepete Eklendi.");
                }
            });
        };
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
}